p {
  font-size: 18px;
}

/*--- Main Background Image ---*/
.hero-image {
  margin-top: -300px;
}

/*--- Aspect Ratio Box ---*/
.aspectRatioBox {
  padding-top: calc(2 / 3 * 100%); /* aspect ratio 3:2 */
  background-size: cover;
  background-position: center;
}

/*--- Scrolling Portfolio ---*/
.scrollable-row {
  overflow-x: scroll;
  margin-left: -24px;
  margin-right: -24px;
  padding-left: 18px;
  padding-right: 18px;
}

.scrollable-row > [class*=col-] {
  padding-left: 12px;
  padding-right: 12px;
}

#scrolling-background {
  background-color: lightgrey;
  height: 70%;
  right: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: -1;
}

.scrolling-title {
  color: black;
  text-decoration: underline;
  font-size: 20px;
}

.scrolling-title:hover {
  color: black;
}

/*--- Contact ---*/
.email {
  background-color: #e7eb7f;
}

.socials {
  background-color: #48abe8;
}

.altcademy {
background-color: lightsalmon;
}

.my-email {
  color: #48abe8 ;
  text-decoration: none;
}

.brands {
  color: black;
  text-align: center;
  font-size: 30px;
}

.alt-link {
  color: #48abe8;
  text-decoration: none;
}

/*--- Footer ---*/
.footer {
  background-color: lightgray;
}

@media (max-width:768px) {
  .about-text {
    font-size: 14px;
  }

  .brands {
    font-size: 20px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }

  h3 {
    font-size: 20px;
  }

  .scrolling-title {
    font-size: 16px;
  }
}